@media screen and (max-width: 790px) {
  .section-missions {
    width: 95%;
  }
  .mission-input,
  .container--btns {
    display: block;
    min-width: unset;
  }

  .container--btns {
    grid-template-columns: 50% 50%;
  }

  .container--btns-sort {
    background-color: var(--color-surface);
    color: var(--color-text);
    padding: 10px;
    position: absolute;
    display: block;
    margin: auto;
    width: 100%;
    bottom: -10%;
  }

  .container--btns-sort {
    display: flex;
    justify-content: center;
    grid-gap: 5px;
    width: 100%;
    left: 0;
    border-radius: 5px;
  }
}
